# Maven / Java
target/
dependency-reduced-pom.xml
release.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
.vs/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
